
.icon-lock:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-palette:before { content: '\e803'; } /* '' */
.icon-loading:before { content: '\e838'; } /* '' */
.icon-contact:before { content: '\f0e0'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */